<%include widget/header.html%>
<style type="text/css">
.wxForm{display:block;}
.wxForm div{height:50px;line-height:50px;margin-bottom:30px;}
</style>
<!-- 模板内容开始 -->
<div id="demo">
    <h1>文件上传</h1>
    <div id="status"></div>
    <form action="" enctype="multipart/form-data" method="post">
        <input type="file" name="image" id="imagelist" />
        <input type="button" value="上传文件" onclick="FormUpload()"/>
    </form>
</div>
<script>
    var Root = "http://127.0.0.1:3000";
    function FormUpload() {
        var formData = new FormData();
        formData.append('image',$("#imagelist")[0].files[0]);
        $.ajax({
            url: Root + '/doUpload',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                var res = data;
                if (res[0] == 'success') {
                    document.getElementById("status").innerHTML = "<span style='color:green'>文件上传成功！<br>文件名为：" + res[1].filename + "</span>";
                }
                else {
                    document.getElementById("status").innerHTML = "<span style='color:#EF0000'>文件上传失败！<br>原因是：" + res[1].msg + "</span>";
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById("status").innerHTML = "<span style='color:#EF0000'>连接不到服务器，请检查网络！</span>";
            }
        });
    }
</script>
<!-- 模板内容结束 -->
<%include widget/footer.html%>