<!-- 页面内容开始 -->
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6" style="width:720px;margin:20px auto;">
        <h1>express4.0 项目 </h1>
        <p><a class="btn btn-lg btn-success" href="/users" role="button">用户信息</a></p>
        <p class="lead">1. 全局变量配置 </p>
		<p class="lead">2. 初始化 模板引擎 </p>
		<p class="lead">3. 初始化 mysql 模块  </p>
		<p class="lead">4. 初始化 日志 模块</p>
		<p class="lead">5. 初始化 cookie 模块</p>
		<p class="lead">6. 初始化 session 模块</p>
		<p class="lead">7. 定义路由</p>
		<p class="lead">9.  功能-用户增删改查模块</p>
		<p class="lead">10. 功能-文件上传模块</p>
		<p class="lead">11. 功能-mock模块</p>
       
      </div>
    </div>
</div>
<!-- 页面内容结束 -->