<h1 class="page-title"></h1>
<div class="btn-toolbar">
    <a href="/users/addUser" class="btn btn-primary"><i class="icon-plus"></i>新增用户</a>
    <div class="btn-group">
    </div>
</div>
<div class="well">
    <table class="table">
        <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>口令</th>
            <th>真实姓名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < users.length; i++)  {%>
            <tr>
                <td><%=users[i].id%></td>
                <td><%=users[i].username%></td>
                <td><%=users[i].password%></td>
                <td><%=users[i].realname%></td>
                <td>
                    <a href="/users/queryById/<%=users[i].id%>" class="btn btn-primary">修改</a>
                    <a href="/users/deleteById/<%=users[i].id%>" class="btn">删除</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
