<%include ../commons/header.html%>
<%include ../commons/nav.html%>
<!-- 模板内容开始 -->
<div class="container-fluid">
    <div class="row-fluid">
        <!-- 左侧导航开始 -->
        <%include ../commons/sidebar.html%>
        <!-- 左侧导航结束 -->
        <!-- 右侧内容开始 -->
        <div class="span9">
            <div class="btn-toolbar"></div>
            <% if(page =="addUser"){%>
            <div class="well">
                <div class="tab-pane">
                  <form action="/users/addUser" method="post">
                    <p><label>用户名：</label> <input type="text" name="username" value="<%=user.username%>" class="input-xlarge"></p>
                    <p><label>密码： </label><input type="password" name="password" value="<%=user.password%>"  class="input-xlarge"></p>
                    <p><label>真实姓名：</label> <input type="text" name="realname" value="<%=user.realname%>"  class="input-xlarge"></p>
                    <p>
                      <button class="btn btn-primary"><i class="icon-save"></i> <input type="submit" value="保存"/></button>
                    </p>
                  </form>
                </div>
            </div>
            <%} else {%>
              <div class="well">
                  <div class="tab-pane">
                    <form action="/users/updateUser" method="post">
                      <input type="hidden" value="<%=user.id%>" name="id"/>
                      <p><label>用户名：</label> <input type="text" name="username" value="<%=user.username%>" class="input-xlarge"></p>
                      <p><label>密码： </label><input type="password" name="password" value="<%=user.password%>"  class="input-xlarge"></p>
                      <p><label>真实姓名：</label> <input type="text" name="realname" value="<%=user.realname%>"  class="input-xlarge"></p>
                      <p>
                        <button class="btn btn-primary"><i class="icon-save"></i> <input type="submit" value="修改"/></button>
                      </p>
                    </form>
                  </div>
              </div>
            <%}%>
      </div>
<!-- 右侧内容结束 -->
</div>
</div>
<!-- 模板内容结束 -->
<%include ../commons/footer.html%>